<!DOCTYPE html>
<head>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
</head>

<body>

<h1 class="welcome"><span id="date"></span></h1><h2 id='weather'></h2>
<div class="clear"></div>
<button class="rlink"><a href="/rewards">Rewards ></a></button>
<div class="people-container">


</div>




<div class="unassigned-container">
<h4>Unassigned Tasks</h4>
<table id="unassigned">

</table>
</div>
<div id="login-box" class="login-popup">
  <form method="post" class="create-member" action="/members">
    <%= token_tag(nil) %>
    <label>
    <span>Role in family</span>
    <input name="member[role]" type="text" placeholder="Role">
    </label>
    <label>
    <span>Name</span>
    <input name="member[name]" type="text" placeholder="Name">
    </label>
    <input class="button" type="submit" value="submit" />
  </form>
</div>
</body>
		<script id="person-template" type="text/x-handlebars-template">
		<div class="kid-container">
		<p class="kid-name"><%= image_tag "kendall.png" %>{{name}}</p>
		<div class="clear"></div>
		<table class="tasks-container">
		<tr class='button-container'>
		{{#assignedTasks}}
	<td class="task-d"><button class="title">{{title}}</button></td>
  <td class="point-d"><button class="point_value">{{point_value}}</button></td>
  <td class="icons">
  <%= image_tag "icons/greencheck.png" %>
  <%= image_tag "icons/redx.png" %>
  <%= image_tag "icons/redo.png" %>
  </td>
  </tr>
		{{/assignedTasks}}
		</table>
		</div>
    <div class="space"></div>
		</script>


		<script id="task-template" type="text/x-handlebars-template">
	<tr class='button-container'>
	<td class="task-d"><button class="title">{{title}}</button></td>
  <td class="point-d"><button class="point_value">{{point_value}}</button></td>
  <td class="icons">
  <%= image_tag "icons/greencheck.png" %>
  <form id="red-x"><%= image_tag "icons/redx.png" %></form>
  <%= image_tag "icons/redo.png" %>
  </td>
  </tr>
		</script>


<script>
$(document).ready(function(){
	var date = new Date()
	$('#date').text(date.toDateString());
	getPeople();
  getUnassigned();
});


var getPeople = function(){
  $.ajax({
    url: "http://localhost:3000/families.json",
    type: 'get',
    dataType: 'json'
  }).done(function(response){
    console.log(response);
    var template = $('#person-template').html();
    response.members.forEach(function(member){
    	var renderPeople = Mustache.render(template, member);
    	$('.people-container').append(renderPeople);
    });
    });
};


var getUnassigned = function(){
  $.ajax({
    url: "http://localhost:3000/families.json",
    type: 'get',
    dataType: 'json'
  }).done(function(response){
    var taskTemplate = $('#task-template').html();
    response.unassignedTasks.forEach(function(task){
    	var renderUnassigned = Mustache.render(taskTemplate, task);
    	$('#unassigned').append(renderUnassigned);
    })
    });
};

// var deleteTask = function(){
//   $.ajax({
//     url:"http://localhost:3000/families.json",
//     type:'delete',
//     data: ,
//   });
// }


</script>



