<!DOCTYPE html>
<html>
<head>
  <title>Homebase2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="collapse">
    <% if logged_in? %>
      <% if parent_mode? %>
        <%= link_to "Logout", '/logout', method: :delete, class: "logout" %>
        <a href="#loginmodal" class="flatbtn2" id="normaltrigger">Exit Parent Mode</a>
      <% else %>
        <a href="#loginmodal" class="flatbtn" id="parenttrigger">Enter Parent Mode</a>
      <% end %>
    <% end %>

<div id="loginmodal" class="modal">
   <h1>Parent Login</h1>
   <form id="loginform" name="loginform" method="post" action="sessions/admin">
     <%= token_tag(nil) %>
     <label for="password">Password:</label>
     <input type="password" name="password" id="password" class="txtfield" tabindex="2">
     <div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="Log In" tabindex="3"></div>
   </form>
 </div>
<div>
  <%= yield %>
</div>
</body>
</html>













