<!DOCTYPE html>
<html>
<head>
  <title>Homebase2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
  <%= csrf_meta_tags %> 

  <script type='text/javascript' src='http://code.ionicframework.com/1.0.0/js/ionic.min.js'></script>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type='text/css' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
</head>
<header>
  <div class="bar bar-header bar-balanced">
  <h1 class="title">HomeBase</h1>

    <% if logged_in? %>
      <% if parent_mode? %>
        <%= link_to "Logout", '/logout', method: :delete, class: "button button-block button-positive" %>
        <a href="#loginmodal" class="button button-block button-positive" id="normaltrigger">Exit Parent Mode</a>
      <% else %>
        <a href="#loginmodal" class="button button-block button-positive" id="parenttrigger">Enter Parent Mode</a>
      <% end %>
    <% end %>
</div>
  </header>
<body>
<div class="customscroll has-header has-footer">

<div id="loginmodal" class="modal">
   <h1>Parent Login</h1>
   <form id="loginform" name="loginform" method="post" action="sessions/admin">
     <%= token_tag(nil) %>
     <label for="password">Password:</label>
     <input type="password" name="password" id="password" class="txtfield" tabindex="2">
     <div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="Log In" tabindex="3"></div>
   </form>
 </div>

  <div class="tabs tabs-icon-left tabs-positive">
  <a class="tab-item" href='/tasks'>
    <i class='icon ion-android-clipboard'> </i>
    Work
  </a>
  <a class="tab-item" href='/families'>
    <i class="icon ion-social-usd"></i>
    Bank
  </a>
  <a class="tab-item" href='/rewards'>
     <i class='icon ion-android-cart'> </i>
    Store
  </a>
  <a class="tab-item" href='/events'>
     <i class='icon ion-calendar'> </i>
    Events
  </a>
  </div>

  <%= yield %>
</div>
</div>
</body>
</html>













